<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico">
    <link href="~/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/app/css/base.css" rel="stylesheet" />
</head>
<body class="app" ng-app="app">
    <script src="~/app/js/jquery-bootstrap.js"></script>
    <script src="~/assets/angular/angular.min.js"></script>
    <script src="~/app/js/app.js"></script>
    <toast></toast>
    <div class="pt-5" ui-view></div>
</body>
</html>