<div class="container">
    <div class="row">
        <div class="col-12 offset-md-2 col-md-6 col-sm-offset-3 col-sm-7 col-xs-offset-3 col-xs-8  pt-4">
            <div class="card bs-20">

                    <form name="signUpForm" class="col-10 offset-1" ng-submit="events.signUp()" novalidate>
                        <div class="card-block">
                            <h4 class="card-title"><i class="ion-log-in mr-2"></i>Sign Up</h4>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input id="inputEmail" class="form-control" name="email" type="email" ng-maxlength="30" ng-minlength="1"
                                   ng-class="{'text-danger': signUpForm.email.$invalid}"  ng-model="vm.signUp.email"
                                   placeholder="Enter Email" required/>
                            <small id="inputEmailWarning" ng-show="signUpForm.email.$invalid && signUpForm.email.$dirty"
                                   class="text-danger">Email must be between 1 and 30 characters long and it must contain the domain!
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="inputPass" class="form-label">Password</label>
                            <input id="inputPass" type="password" class="form-control" name="password" ng-maxlength="36"
                                   ng-minlength="1" ng-class="{'text-danger': signUpForm.password.$invalid}"
                                   ng-model="vm.signUp.password" placeholder="Enter Password" required/>
                            <small id="passwordWarning" ng-show="signUpForm.password.$invalid && signUpForm.password.$dirty"
                                   class="text-danger">Password must be between 1 and 36 characters long!
                            </small>
                        </div>
                        <div class="form-group">
                            <p ng-show="accountExists" class="text-danger">Account already exists!</p>
                        </div>

                        <div class="form-group pull-right">
                            <button type="submit" class="btn btn-secondary ml-2" name="logIn"
                                    ng-disabled="signUpForm.$pristine || signUpForm.$invalid">Sign up
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>